* {
    color: black;
    text-decoration: none;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}


h1, h2, h3, p {
    margin: 0;
}
ul {
    margin:0;
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
}

.header {
    width: 100%;

}
.header :focus, .header:active {
    border: 1px #E7E9FC;

}
.header :hover {
    border: 2px #E7E9FC
}
.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 156px;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    align-content: center;
    padding: 1.5px 0;
    margin-right: 76px;

}
.span1 {
    color: #2e2f42;
}
.nav {
    display: flex;
}
.nav ul {
    display: flex;
    font-weight: 500;
    padding: 24px 0;
    gap:40px;
}
.nav li {
    list-style-type: none;
}
.nav-a {

    color:#2E2F42;
}
.nav-a:hover, .nav-a:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address ul {
    display: flex;
    gap:40px;
    align-items: center;


}
.address-a {
    font-style: normal;
    font-weight: 400;
    color:#434455;
}
.address-a:hover, .address-a:focus {
    color:#404bbf;
}
.address li {
    list-style-type: none;
    flex-shrink: 0;

}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2F42;
    height: 600px;
    width: auto;



}
.hero .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.hero-main {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: white;
    letter-spacing: 0.02em;
    width: 496px;
    margin-bottom: 48px;
}
.btn-hero-img {
    color: white;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border:  none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);

}
.btn-hero-img:hover, .btn-hero-img:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.second-section-list {
    display: flex;
    flex-direction: row;
    gap:24px;
    justify-self: flex-start;
    padding: 120px 0;
}
.second-section-list li {
    width: 264px;
}


.title-second {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
    text-align: center;
}
.wt-we-do-paragraph {
    color: #434455;
    text-align: center;
    padding-bottom: 32px;
}
.our-team {
    background-color: #F4F4FD;
}
.our-team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}
.team-grid {
    display: flex;
    flex-direction: row;
    gap:24px;
    overflow: hidden;
}
.fix-line-height {
    line-height: 1.11;
}
.li-team-member {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow:
            0 2px 1px 0 #2e2f4214,
            0 1px 1px 0 #2e2f4229,
            0 1px 6px 0 #2e2f4214
}

.li-team-member img {
  padding-bottom: 32px;

}

.our-portfolio {
    padding: 120px 0;
}
.our-portfolio .container {
    display: flex;
    flex-direction: column;
}
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}
.portfolio-grid li {
    width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;

}
.portfolio-grid img {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.portfolio-text {
    padding-left: 16px;
}

.portfolio-text h3, .portfolio-text p {
    text-align: start;
}

.footer {
    background-color: #2e2f42;
    padding: 101.5px 0 100px 0;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap:16px;
}
.footer-paragraph {
    color: #F4F4FD;
    max-width: 264px;
}
.span-second {
    color: #f4f4fd;
}